{{#partial "content"}}
<h1>All greetings</h1>

<form action="/greeting/search"  method="get">
	<label for="template">Search</label>
	<input class="form-control" type="text" name="searchKey" id="searchKey" placeholder="Search text" autofocus />
	<button class="btn btn-primary" type="submit">Submit</button>
</form>
{{/partial}}

{{> layouts/base title="All greetings"}}
