{{#partial "content"}}
  <h1>Greeting</h1>

  <blockquote>
    <p>{{greeting}}</p>
  </blockquote>

  <p>
    <a class="btn btn-primary" role="button" href="/greeting">Back</a>
    <br />
    <form action="/greeting/{{id}}/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </p>
{{/partial}}

{{> layouts/base title="A greeting"}}
